<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--  kis url per hum ko file uplord karna ha actionmian hum vo dege -->
    <form action="/uplord" method="post" enctype="multipart/form-data">
        <input type="file" name="profileimage">
        <button type="submit">uplord</button>
    </form>
</body>

</html>